.Indian{
    color: wheat;
    position: relative;
    float: right;
    margin-right: 40%;
    margin-top: -55%;
    font-size: 1.5em;
}

.Chinese{ 
  color: wheat;
  position: relative;
  float: right;
  margin-right: 5%;
  margin-top: -55%;
  font-size: 1.5em;

}

.template
{
  position: relative;
  float: right;
  margin-top: -67%;
  margin-right: 4%;
  color: blanchedalmond;
  font-family: cursive;
  font-size: 6em;
}
.South-indian{
color: wheat;
position: relative;
float: right;
margin-right: 40%;
margin-top: -35%;
font-size: 1.5em;
}
.Sea-food
{color: wheat;
  position: relative;
  float: right;
  margin-right: 5%;
  margin-top: -35%;
  font-size: 1.5em;


}
.links
{color: wheat;
  position: relative;
  float: right;
  margin-right: 40%;
  margin-top: -10%;
  font-size: 1.5em;

}

a{

   

    color: wheat;
    background-color: transparent;
    text-decoration: underline;
    
    
}
.address
{color: wheat;
  position: relative;
  float: right;
  margin-right: 5%;
  margin-top: -10%;
  font-size: 1.5em;

}
hr
    {
      border: dotted wheat 6px;
      border-bottom: none;
      width:49%;
      position: relative;
      float: right;
      margin-top: -58%;
      margin-right: 4%;
    }
